# --- SQL Server (Database) ---
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=S3nh4_Str0ng_2026!

# --- Backend Database Connection ---
DB_HOST=sqlserver
DB_PORT=1433
DB_DATABASE=master
DB_USERNAME=sa
DB_PASSWORD=S3nh4_Str0ng_2026!

# --- Redis (Cache) ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- JWT Security Config ---
JWT_SECRET=AivacolSecretToken2026
JWT_EXPIRES_IN=1d

# --- MongoDB (Audit Log) ---
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USERNAME=admin
MONGO_PASSWORD=S3nh4_Str0ng_2026!
MONGO_DATABASE=audit

# --- RabbitMQ (Messaging) ---
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# --- General ---
PORT=3000
